@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500&display=swap');
  .d-flex .flex-items-center {
    display: flex;
    align-items: center;
}
    .flex .btn.btn-primary-light {
        background-color: #7fb3d5; /* Warna biru muda untuk tombol Edit */
        color: #333; /* Warna teks gelap untuk kontras */
        padding: 8px 16px; /* Atur padding sesuai kebutuhan */
        border: none; /* Hapus border jika tidak diperlukan */
        cursor: pointer;
        border-radius: 4px; /* Atur border radius sesuai kebutuhan */
    }

    .flex .btn.btn-danger-light {
        background-color: #f0a8a8; /* Warna merah muda untuk tombol Delete */
        color: #333; /* Warna teks gelap untuk kontras */
        padding: 8px 16px; /* Atur padding sesuai kebutuhan */
        border: none; /* Hapus border jika tidak diperlukan */
        cursor: pointer;
        border-radius: 4px; /* Atur border radius sesuai kebutuhan */
    }
   

    .urbanist-font {
        font-family: 'Urbanist', sans-serif;
        font-weight: bold;
        color: #000000
        
    }
    .deadline-color {
        color: #5b5b57; /* Warna merah untuk teks Deadline */
    }
    .data{
        color: #ffffff; /* Warna merah untuk teks Deadline */
        font-weight:inherit;
    }
  