/* .d-flex.justify-content-between.py-3 {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .form-check-input {
    margin-right: 0.5rem;
  }
  
  .fs-4 {
    font-size: 1.5rem;
  }
  
  .btn btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  .btn btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
  }
  
  .d-flex.gap-4 {
    display: flex;
    gap: 0.5rem;
  }
  
  span {
    font-weight: bold;
  } */


    form {
        display: inline; /* Tombol tetap dalam satu baris dengan formulir */
    }

    button.btn {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        border-radius: 0.375rem;
        transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out,
            box-shadow 0.2s ease-in-out;
    }

    button.btn-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }

    button.btn-success:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }
    ul.col-span-3 li div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /* Style for the entire to-do list */
ul.col-span-3 {
    list-style: none;
    padding: 0;
}
ul.col-span-3 li input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(1.5); /* Adjust the scale factor as needed */
}

/* Style for each to-do item */
ul.col-span-3 li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the to-do content */
ul.col-span-3 li div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the checkbox */
ul.col-span-3 li input[type="checkbox"] {
    margin-right: 5px;
}

/* Style for the Edit and Delete buttons */
ul.col-span-3 li button {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Style for the Edit button */
ul.col-span-3 li button.edit {
    background-color: #2ecc71;
    margin-right: 5px;
}

/* Style for the Delete button */
ul.col-span-3 li button.delete {
    background-color: #e74c3c;
}

